@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Nerko One', cursive;
}
canvas {
  background-image: url('/assets/img/bgx20.png');
  background-size: cover;
  border: 4px solid #777777;
  border-radius: 2px;
}

.center-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level {
  display: flex;
  color: #777777;
  font-size: 22px;
  font-weight: 700;
  top: 30px;
  left: 30px;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 5px;
  border-radius: 2px;
  border-bottom: 4px solid #777777;
}